.banner {
    height: 180px;
}
.columns {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.v-line {
    width: 4px;
    /* height: 80%; */
    background: #ABABAB;
    opacity: 0.4
}
#lang {
    display: flex;
    align-items: center;
}
#lang > svg {
    width: 40px;
}
.topwarning {
    text-align: center;
    background-color: #df990c;
    padding: 10px;
}

/* ================================= */
.monthbanner {
    width:50%;
    height: 10%;
    display: flex;
    align-items: end;
    padding: 8px;
    overflow: hidden;
    position: relative;
}
.monthbanner > :nth-child(1) {
    font-weight: 700;
    font-size: xx-large;
    margin: 0;
}
.monthbanner > p:nth-child(2) {
    font-weight: 600;
    font-size: x-large;
    margin-left: 16px;
    margin-bottom: 2px;
    flex: 1;
    text-align: start;
    z-index: 1;
}
.monthbanner > svg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 104px;
    translate: 0 30%;
    opacity: 0.4;
}

.repobanners {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.banner1 {
    background-color: #8957E5
}
.banner2 {
    background-color: #00D26A
}
.banner3 {
    background-color: #06B6D4
}
.banner4 {
    background-color: #f8972f
}
.banner5 {
    background-color: #aab8c2c0
}
.banner6 {
    background-color: #f9af2ffc
}
.banner7 {
    background-color: #584d92
}
.banner1 > svg {
    rotate: 340deg;
    translate: 0 20%;
}
.banner6 > svg {
    rotate: 350deg;
    translate: 0 20%;
    scale: 0.9;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.banner-jul2026 {
    background-color: #464dca
}
.banner-jul2026 > svg {
    translate: 0 15%;
    scale: 0.9;
}
.banner-oct2025 {
    background-color: #F8312F
}
.banner-oct2025 > svg {
    translate: 0 15%;
    scale: 0.8;
}
.banner-sep2025 {
    background-color: #9C0C29
}
.banner-sep2025 > svg {
    /* translate: 0 15%; */
    scale: 0.95;
}